/* Global Styles Applying to entire Site */

:root {
    --color-one: #ee6352;
    --color-two: #a4b494;
    --color-three: #1a281f;
    --color-four: #c1e2ed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a6a6a6;
    color: var(--color-four);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* END Global Styles Applying to entire Site */

/* Header and Navigation */

header {
    background: var(--color-three);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999; 
}

header h1 {
    color: var(--color-two);
    font-weight: bold;
    font-size: 45px;
}

header h1 a {
    text-decoration: none;
    color: var(--color-two)
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-size: 42px;
    color: var(--color-one);
    text-decoration: none;
    padding: 7px 25px;
}

header nav ul li a:hover {
    background: var(--color-two);
    border-radius: 15px;
}

/* END Header and Navigation */

/* Hero Section */

.hero {
    background-image: url(../images/hero_background.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.hero-headshot {
    flex-direction: row;
    width: 60%;
    margin: 50px 0 auto 0;
}

.hero-headshot img {
    height: 250px;
    width: 250px;
    border: 8px solid var(--color-four);
}

.hero-subtitle {
    flex-direction: row;
    margin: auto 0 50px 0;
    text-align: right;
    color: var(--color-one);
    font-size: 40px;
    text-shadow: 5px 0px 3px black;
    border: 6px solid var(--color-four);
    padding: 4px 10px;
    text-align: center;
}

/* END Hero Section */

/* Main Site Section */

.about,
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 3% 0;
    
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    border-right: 3px dashed black;
}

.section-title {
    color: var(--color-one);
    font-size: 40px;
    margin-left: 10%;
}

.about-text,
.gallery {
    display: flex;
    width: 70%;
}

.about-text {
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 18px;
}

.main-gallery-image {
    margin-right: 40px;
    position: relative;
}

.alt-gallery-image {
    display: flex;
    flex-direction: column;
}

.gallery-image-stack {
    position: relative;
}

.gallery img {
    opacity: 50%;
}

.gallery img:hover {
    opacity: 100%;
}

.captions {
    color: var(--color-one);
    font-size: 20px;
    font-style: italic;
    background-color: var(--color-three);
    position: absolute;
    bottom: 25px;
    left: 15px;
    padding: 5px 5px;
}

.codes {
    color: var(--color-four);
    font-size: 17px;
    font-style: normal;
    letter-spacing: 3px;
}


/* END Main Site Section */

/* Footer Section */

footer {
    background: var(--color-three);
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
}

footer h4 {
    color: var(--color-two);
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

footer div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

footer div ul li a {
    margin: 0 30px;
    text-decoration: none;
    font-size: 38px;
    color: var(--color-one);
    padding: 7px 7px;
}

footer div ul li a img {
    height: 30px;
    width: 30px;
}

footer div ul li a:hover {
    background: var(--color-two);
    border-radius: 15px;
}

/* END Footer Section */

/* Media Queries */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .hero-headshot {
        display: flex;
        justify-content: center;
    }
    .hero-subtitle {
        font-size: 33px;
    }
    
    .flex-column {
        width: 100%;
        border-right: none;
    }
    .section-title {
        text-align: center;
        margin: auto;
        border-bottom: 3px dashed black;
        font-size: 30px;
    }
    .about-text {
        width: 100%;
        margin: 25px 15px 0 15px;
        text-align: center;
        line-height: normal;
    }
    .gallery {
        display: flex;
        justify-content: center;
        padding-top: 25px;
    }
    .main-gallery-image {
        margin: auto;
    }
    .main-gallery-image img {
        width: 450px;
        height: 250px;
    }
    .captions {
        font-size: 15px;
    }
    .codes {
        font-size: 12px;
    }

    footer h4, footer div {
        text-align: center;
        width: 100%;
    }
    footer h4 {
        margin-bottom: 10px;
    }
    footer div ul li a {
        font-size: 20px;
    } 
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .main-gallery-image {
        margin: auto;
    }
    .main-gallery-image img {
        width: 347px;
        height: 272px;
    }
    .hero-subtitle {
        font-size: 25px;
    }
    footer div {
        justify-content: none;
    }
}

/* END Media Queries */

   